%h1= t ".title"
%em= t ".description"
%br
%br

#tag_cloud
  - tag_cloud Article.tag_counts, %w[s m l] do |tag, css_class|
    = link_to tag.name, tag_path(tag.name), class: css_class
%br

%table{:style => "width:97%"}
  %tr
    %th{:style => "width:10%; padding:10px"}= Article.human_attribute_name(:name)
    %th{:style => "padding:10px"}= Article.human_attribute_name(:content)
    %th{:style => "padding:10px"}= Article.human_attribute_name(:tags)
  - @articles.each do |article|
    %tr
      %td{:style => "text-align:center"}= article.name
      %td{:style => "padding:20px"}= article.content
      %td{:style => "padding:20px"}= raw article.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ')
      %td= link_to 'Show', article
      %td= link_to 'Edit', edit_article_path(article)
      %td= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Article', new_article_path